* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fcfcfc;
}

.header {
    height: 90px;
    width: 100%;
    background-color: cornflowerblue;
    padding: 5px 5px 5px 5px;
    box-shadow: 8px 12px 8px #888888;
    display: flex;
}

.logo h2 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    color: aliceblue;
}

.syll {
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.syll h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.content {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2.7rem 2.2rem;
    padding: 10px;
}

.material_sec{
    height: 35%;
}

.material_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: .8rem 3rem;
    background-color: #5C91F6;
    border-radius: 18px;
    border: 1px solid #000;
}

.material_content p{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
.material_content button{
    width: 121px;
    background-color: #08327D;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.video_sec{
    position: relative;
    width: 100%;
}

.video_content{
    height: auto;
}
.video_content .vid{
    width: 100%;
    height: 175px;
    background-color: #D9D9D9;
    margin: 5px 0;
    border-radius: 10px;
    overflow: hidden;
}

.heading{
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}

.mid {
    height: 100%;
    width: 100%;
}

@media (max-width: 600px) {
    .logo h2 {
        font-size: 30px;
        font-weight: 700;
        margin-top: 25px;
        border-radius: 10px;
    }
}

@media screen and (min-width: 556px) {
    
}

@media screen and (min-width: 871px) {
    
}

